*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.container{
    max-width: 1200px;
    margin: auto;
}

.poster-section{
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.45), rgba(255, 255, 255, 0.1)), url(images/banner.png);
    height: 500px;
    background-position: center;
    background-size: cover;
    border-radius: 20px;
    margin-top: 10px;
    display: flex; 
    align-items: center;
    justify-content: center;
    flex-direction: column; 
}

.offerButton:hover{
   
    border-color:green;
    color: green;
}
.offer{
    border-color: green;
}

.intro{
    margin-top: 4rem;
    text-align: center;
}